@import "https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Love+Ya+Like+A+Sister&display=swap";

$font:'Love Ya Like A Sister', cursive;
$primary:#7a44fe;
$secondary:#424242;
$text-color: #f8f9fc;