// This is where you can import other stylesheets or write your scss code
@import "./reset.scss";
@import "./variables";
@import "./mixin";
@import "./header";
@import "./button";
@import "./idea";
@import "./news";
@import "./form";

h1,h2,h3 {
  font-family: $font;
}
h2 {
  font-size: 3rem;
  text-align: center;
}